@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Inconsolata&family=Playfair+Display:wght@600&display=swap');


/*
  fonts by group
*/

$fonts: (
  monospace: (
    family: #{'Inconsolata', monospace},
    size: .75rem,
    weight: 400,
  ),
  
  small: (
    size: .75rem,
    weight: 400,
  ),

  strong: (
    weight: 500,
  ),

  text: (
    family: #{'Heebo', sans-serif},
    line-height: 1.5,
    size: .875rem,
    weight: 400,
  ),

  title: (
    family: #{'Playfair Display', serif},
    line-height: 1.25,
    size: (
      display: 4rem,
      1: 2rem,
      2: 1.625rem,
      3: 1.25rem,
      4: 1rem,
      5: .875rem,
      6: .75rem,
    ),
    weight: 600,
  ),
);


/*
  font accessor function
*/

@function font($keys...) {
  $value: $fonts;

  @each $key in $keys {
    $value: map-get($value, $key);
  }

  @return $value;
}
