/*
  display
*/

.layout.system main {
  background: color(neutral, 1);
  padding: 2rem 2rem 4rem;
}

.layout.system nav {
  background: color(neutral, 2);
  padding: 2rem 2rem 4rem;
}

.layout.system nav a {
  display: block;
  font-size: font(small, size);
  font-weight: font(small, weight);
  margin: 0 -2rem .125rem;
  padding: .375rem 2rem;
}

.layout.system nav a:hover:not(.active):not(.logo) {
  background: color(neutral, 4);
  color: color(white);
}

.layout.system nav a.active {
  background: color(neutral, 3);
  border-left: .25rem solid color(primary);
  font-weight: font(strong, weight);
  padding-left: 1.75rem;
}

.layout.system .logo {
  display: block;
  height: 5rem;
  margin: 0;
  padding: 0;
}

.layout.system .logo img {
  display: inline-block;
  height: 100%;
  width: auto;
}


/*
  grid
*/

.layout.system {
  display: grid;
  grid-template-areas: 'nav main';
  grid-template-columns: 15rem 1fr;
}

.layout.system nav { grid-area: nav; }
.layout.system main { grid-area: main; }
