header {
  @include background(color(black), color(white));
  align-items: center;
  display: flex;
  height: 5.5rem;
  justify-content: space-between;
  padding: 0 2rem;
}

header .logo {
  @include size(auto, 2.25rem);
}

header .nav {
  display: flex;
  font-size: 1.5rem;
  gap: 1.5rem;
}
