.icons-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.icon-preview {
  align-items: center;
  background: color(neutral, 2);
  border-radius: .5rem;
  display: inline-flex;
  height: 8rem;
  justify-content: center;
  width: 8rem;
}
