ul.icons-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  margin: 0;
}

ul.icons-preview li {
  display: inline-flex;
  flex-direction: column;
  gap: .5rem;
}

.icon-preview {
  align-items: center;
  background: color(neutral, 2);
  border-radius: .5rem;
  display: inline-flex;
  height: 8rem;
  justify-content: center;
  width: 8rem;
}
