/*
  font preview list
*/

ul.font-preview-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  margin: 0;
}


/*
  font preview item
*/

.font-preview {
  @include background(color(neutral, 2), color(black));
  @include size(10rem);
  border-radius: .5rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.font-preview .sample {
  font-size: 5rem;
  text-align: right;
}


/*
  individual fonts
*/

.font-heebo {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  line-height: 1;
}

.font-playfair-display {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  line-height: 1.15;
}


/*
  font detail list
*/

.font-detail-list {
  border-top: 1px dotted color(border);
  display: grid;
  margin: 2rem 0;
  max-width: 40rem;
}

.font-detail-row {
  align-items: center;
  border-bottom: 1px dotted color(border);
  display: grid;
  gap: 1rem;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  padding: 1rem 0;
}
