/*
  color helper functions
*/
/*
  initial colors
*/
/*
  color by name
*/
/*
  color accessor function
*/
/*
  color by element property
*/
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Playfair+Display:wght@600&display=swap");
/*
  fonts by group
*/
/*
  font accessor function
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
}

html {
  font: normal 16px sans-serif;
}

body {
  background: #f4f3f3;
  color: #423836;
  font-family: Heebo, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.link {
  color: #498300;
}

.link:hover {
  color: #3a6900;
}

small,
.small {
  font-size: 0.75rem;
  font-weight: 400;
}

strong,
.strong {
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6, .title, .subtitle {
  font-family: Playfair Display, serif;
  font-weight: 600;
  line-height: 1.25;
  margin: 0 0 0.5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

small {
  font-size: 0.75rem;
  font-weight: 400;
}

ol,
ul {
  margin: 0 0 1rem 1.5rem;
}

ol li,
ul li {
  margin: 0 0 0.5rem;
}

hr {
  border: 0 solid #cac7c7;
  border-width: 1px 0 0;
  margin: 2rem 0;
}

#main,
#nav {
  padding: 2rem 2rem 4rem;
}

#main {
  background: #f4f3f3;
  color: #423836;
  padding-left: 5rem;
}

#nav {
  background: #e1dfdf;
  color: #423836;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100vh;
  left: -16rem;
  position: fixed;
  top: 0;
  transition: left 0.5s;
  width: 16rem;
  z-index: 1;
}

#nav.active {
  left: 0;
}

#nav a:not(.header):not(.toggle) {
  display: block;
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0 -2rem 0.125rem;
  padding: 0.375rem 2rem;
}

#nav a:hover:not(.active):not(.header):not(.toggle) {
  background: #756e6c;
  color: #fdfdfd;
}

#nav a.active:not(.toggle) {
  background: #cac7c7;
  border-left: 0.25rem solid #498300;
  font-weight: 500;
  padding-left: 1.75rem;
}

#nav .header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

#nav .logo {
  height: auto;
  width: 9rem;
}

#nav .toggle {
  background: #cac7c7;
  color: #423836;
  height: 100vh;
  width: 3rem;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  right: -3rem;
  top: 0;
}

#nav .toggle:hover {
  background: #756e6c;
  color: #fdfdfd;
}

#nav .toggle i {
  font-size: 1.125rem;
  transition: transform 0.5s;
}

#nav.active .toggle i {
  transform: rotate(180deg);
}

@media (min-width: 50rem) {
  #nav,
  #nav.active {
    left: 0;
  }
  #nav .toggle,
  #nav.active .toggle {
    display: none;
  }
  #main {
    padding-left: 18rem;
  }
}
/*
  alignment and justification
*/
.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-start {
  justify-content: start;
}

/*
  display
*/
.block {
  display: block;
  margin: 0 0 0.75rem;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

/*
  gap for flex and grid
*/
.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-15 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

/*
  margins + spacing
*/
.m-0 {
  margin: 0;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-075 {
  margin-bottom: 0.75rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mt-075 {
  margin-top: 0.75rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-15 {
  margin-top: 1.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

/*
  white-space
*/
.ws-normal {
  white-space: normal;
}

.ws-pre-line {
  white-space: pre-line;
}

/*
  default buttons
*/
.button {
  background: #498300;
  color: #fdfdfd;
  height: 3.5rem;
  width: auto;
  align-items: center;
  box-shadow: 0.25rem 0.25rem 0.375rem 0 rgba(66, 56, 54, 0.25);
  border: 0;
  border-radius: 1.75rem;
  cursor: pointer;
  display: inline-flex;
  font-family: Heebo, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.375rem;
  justify-content: center;
  line-height: 1rem;
  padding: 0 3rem;
}

.button:hover {
  background: #3a6900;
  color: #fdfdfd;
}

.button i {
  font-size: 1.125rem;
}

/*
  link buttons
*/
.button.link {
  background: none;
  color: #498300;
  height: 2.5rem;
  width: auto;
  box-shadow: none;
  padding: 0;
}

.button.link:hover,
.button.link.hover {
  background: none;
  color: #3a6900;
}

/*
  button row
*/
.button-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  background: #e1dfdf;
  border-radius: 0.5rem;
  display: block;
  padding: 1.25rem 1rem;
}

footer {
  background: #fdfdfd;
  color: #423836;
  align-items: center;
  box-shadow: 0 0 0.75rem 0 rgba(66, 56, 54, 0.25);
  display: flex;
  justify-content: space-between;
  height: 6.5rem;
  padding: 0 2rem;
}

header {
  background: #423836;
  color: #fdfdfd;
  align-items: center;
  display: flex;
  height: 5.5rem;
  justify-content: space-between;
  padding: 0 2rem;
}

header .logo {
  height: 2.25rem;
  width: auto;
}

header .nav {
  display: flex;
  font-size: 1.5rem;
  gap: 1.5rem;
}

input[type=text],
input.text,
.input.text,
input.textarea,
textarea,
.textarea {
  background: #e1dfdf;
  border: 0;
  border-radius: 0.5rem;
  color: #423836;
  font: inherit;
  padding: 1rem;
  width: 100%;
}

input[type=text],
input.text,
.input.text {
  line-height: 1.125rem;
}

label,
.label {
  font-size: 0.75rem;
  font-weight: 400;
}

input.textarea,
textarea,
.textarea {
  height: 4.25rem;
  resize: none;
}

/*
  input groups (e.g. label + input) and input rows (e.g. input + button)
*/
.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.input-row {
  display: flex;
  gap: 0.5rem;
}

/*
  color swatches
*/
/*
  initial color swatches
*/
.swatch.primary {
  background: #498300;
  font-size: 0.75rem;
  font-weight: 400;
  position: relative;
  word-spacing: 100vw;
  color: #fdfdfd;
}
.swatch.primary, .swatch.primary::after {
  height: 6rem;
  width: 6rem;
  align-items: center;
  border-radius: 0.5rem;
  display: inline-grid;
  justify-content: center;
}
.swatch.primary::after {
  content: "primary #498300";
  left: 0;
  overflow: visible;
  padding: 0 1rem;
  position: absolute;
  text-align: left;
  width: 100%;
}

.swatch.black {
  background: #423836;
  font-size: 0.75rem;
  font-weight: 400;
  position: relative;
  word-spacing: 100vw;
  color: #fdfdfd;
}
.swatch.black, .swatch.black::after {
  height: 6rem;
  width: 6rem;
  align-items: center;
  border-radius: 0.5rem;
  display: inline-grid;
  justify-content: center;
}
.swatch.black::after {
  content: "black #423836";
  left: 0;
  overflow: visible;
  padding: 0 1rem;
  position: absolute;
  text-align: left;
  width: 100%;
}

.swatch.neutral {
  background: #756e6c;
  font-size: 0.75rem;
  font-weight: 400;
  position: relative;
  word-spacing: 100vw;
  color: #fdfdfd;
}
.swatch.neutral, .swatch.neutral::after {
  height: 6rem;
  width: 6rem;
  align-items: center;
  border-radius: 0.5rem;
  display: inline-grid;
  justify-content: center;
}
.swatch.neutral::after {
  content: "neutral #756e6c";
  left: 0;
  overflow: visible;
  padding: 0 1rem;
  position: absolute;
  text-align: left;
  width: 100%;
}

.swatch.white {
  background: #fdfdfd;
  font-size: 0.75rem;
  font-weight: 400;
  position: relative;
  word-spacing: 100vw;
  color: #fdfdfd;
}
.swatch.white, .swatch.white::after {
  height: 6rem;
  width: 6rem;
  align-items: center;
  border-radius: 0.5rem;
  display: inline-grid;
  justify-content: center;
}
.swatch.white::after {
  content: "white #fdfdfd";
  left: 0;
  overflow: visible;
  padding: 0 1rem;
  position: absolute;
  text-align: left;
  width: 100%;
}

.swatch.white {
  border: 1px solid #cac7c7;
  color: #423836;
}

/*
  primary color swatches
*/
.swatch.primary-1 {
  background: #edf3e6;
  font-size: 0.75rem;
  font-weight: 400;
  position: relative;
  word-spacing: 100vw;
  color: #fdfdfd;
}
.swatch.primary-1, .swatch.primary-1::after {
  height: 6rem;
  width: 6rem;
  align-items: center;
  border-radius: 0.5rem;
  display: inline-grid;
  justify-content: center;
}
.swatch.primary-1::after {
  content: "primary-1 #edf3e6";
  left: 0;
  overflow: visible;
  padding: 0 1rem;
  position: absolute;
  text-align: left;
  width: 100%;
}

.swatch.primary-2 {
  background: #b6cd99;
  font-size: 0.75rem;
  font-weight: 400;
  position: relative;
  word-spacing: 100vw;
  color: #fdfdfd;
}
.swatch.primary-2, .swatch.primary-2::after {
  height: 6rem;
  width: 6rem;
  align-items: center;
  border-radius: 0.5rem;
  display: inline-grid;
  justify-content: center;
}
.swatch.primary-2::after {
  content: "primary-2 #b6cd99";
  left: 0;
  overflow: visible;
  padding: 0 1rem;
  position: absolute;
  text-align: left;
  width: 100%;
}

.swatch.primary-3 {
  background: #498300;
  font-size: 0.75rem;
  font-weight: 400;
  position: relative;
  word-spacing: 100vw;
  color: #fdfdfd;
}
.swatch.primary-3, .swatch.primary-3::after {
  height: 6rem;
  width: 6rem;
  align-items: center;
  border-radius: 0.5rem;
  display: inline-grid;
  justify-content: center;
}
.swatch.primary-3::after {
  content: "primary-3 #498300";
  left: 0;
  overflow: visible;
  padding: 0 1rem;
  position: absolute;
  text-align: left;
  width: 100%;
}

.swatch.primary-4 {
  background: #3a6900;
  font-size: 0.75rem;
  font-weight: 400;
  position: relative;
  word-spacing: 100vw;
  color: #fdfdfd;
}
.swatch.primary-4, .swatch.primary-4::after {
  height: 6rem;
  width: 6rem;
  align-items: center;
  border-radius: 0.5rem;
  display: inline-grid;
  justify-content: center;
}
.swatch.primary-4::after {
  content: "primary-4 #3a6900";
  left: 0;
  overflow: visible;
  padding: 0 1rem;
  position: absolute;
  text-align: left;
  width: 100%;
}

.swatch.primary-1,
.swatch.primary-2 {
  color: #423836;
}

.swatch.primary-1 {
  border: 1px solid #b6cd99;
}

/*
  neutral color swatches
*/
.swatch.neutral-1 {
  background: #f4f3f3;
  font-size: 0.75rem;
  font-weight: 400;
  position: relative;
  word-spacing: 100vw;
  color: #fdfdfd;
}
.swatch.neutral-1, .swatch.neutral-1::after {
  height: 6rem;
  width: 6rem;
  align-items: center;
  border-radius: 0.5rem;
  display: inline-grid;
  justify-content: center;
}
.swatch.neutral-1::after {
  content: "neutral-1 #f4f3f3";
  left: 0;
  overflow: visible;
  padding: 0 1rem;
  position: absolute;
  text-align: left;
  width: 100%;
}

.swatch.neutral-2 {
  background: #e1dfdf;
  font-size: 0.75rem;
  font-weight: 400;
  position: relative;
  word-spacing: 100vw;
  color: #fdfdfd;
}
.swatch.neutral-2, .swatch.neutral-2::after {
  height: 6rem;
  width: 6rem;
  align-items: center;
  border-radius: 0.5rem;
  display: inline-grid;
  justify-content: center;
}
.swatch.neutral-2::after {
  content: "neutral-2 #e1dfdf";
  left: 0;
  overflow: visible;
  padding: 0 1rem;
  position: absolute;
  text-align: left;
  width: 100%;
}

.swatch.neutral-3 {
  background: #cac7c7;
  font-size: 0.75rem;
  font-weight: 400;
  position: relative;
  word-spacing: 100vw;
  color: #fdfdfd;
}
.swatch.neutral-3, .swatch.neutral-3::after {
  height: 6rem;
  width: 6rem;
  align-items: center;
  border-radius: 0.5rem;
  display: inline-grid;
  justify-content: center;
}
.swatch.neutral-3::after {
  content: "neutral-3 #cac7c7";
  left: 0;
  overflow: visible;
  padding: 0 1rem;
  position: absolute;
  text-align: left;
  width: 100%;
}

.swatch.neutral-4 {
  background: #756e6c;
  font-size: 0.75rem;
  font-weight: 400;
  position: relative;
  word-spacing: 100vw;
  color: #fdfdfd;
}
.swatch.neutral-4, .swatch.neutral-4::after {
  height: 6rem;
  width: 6rem;
  align-items: center;
  border-radius: 0.5rem;
  display: inline-grid;
  justify-content: center;
}
.swatch.neutral-4::after {
  content: "neutral-4 #756e6c";
  left: 0;
  overflow: visible;
  padding: 0 1rem;
  position: absolute;
  text-align: left;
  width: 100%;
}

.swatch.neutral-5 {
  background: #423836;
  font-size: 0.75rem;
  font-weight: 400;
  position: relative;
  word-spacing: 100vw;
  color: #fdfdfd;
}
.swatch.neutral-5, .swatch.neutral-5::after {
  height: 6rem;
  width: 6rem;
  align-items: center;
  border-radius: 0.5rem;
  display: inline-grid;
  justify-content: center;
}
.swatch.neutral-5::after {
  content: "neutral-5 #423836";
  left: 0;
  overflow: visible;
  padding: 0 1rem;
  position: absolute;
  text-align: left;
  width: 100%;
}

.swatch.neutral-6 {
  background: #2e2726;
  font-size: 0.75rem;
  font-weight: 400;
  position: relative;
  word-spacing: 100vw;
  color: #fdfdfd;
}
.swatch.neutral-6, .swatch.neutral-6::after {
  height: 6rem;
  width: 6rem;
  align-items: center;
  border-radius: 0.5rem;
  display: inline-grid;
  justify-content: center;
}
.swatch.neutral-6::after {
  content: "neutral-6 #2e2726";
  left: 0;
  overflow: visible;
  padding: 0 1rem;
  position: absolute;
  text-align: left;
  width: 100%;
}

.swatch.neutral-1,
.swatch.neutral-2,
.swatch.neutral-3 {
  color: #423836;
}

.swatch.neutral-1,
.swatch.neutral-2 {
  border: 1px solid #cac7c7;
}

/*
  icon preview list
*/
ul.icons-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  margin: 0;
}

ul.icons-preview li {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
}

/*
  icon preview item
*/
.icon-preview {
  background: #e1dfdf;
  color: #423836;
  height: 6rem;
  width: 6rem;
  align-items: center;
  border-radius: 0.5rem;
  display: inline-flex;
  justify-content: center;
}

.icon-preview i {
  font-size: 2rem;
}

/*
  logomark preview list
*/
ul.logo-preview-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  margin: 0;
}

/*
  logomark preview item
*/
.logo-preview {
  background: #e1dfdf;
  color: #423836;
  height: 10rem;
  width: 10rem;
  border-radius: 0.5rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

/*
  font preview list
*/
ul.font-preview-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  margin: 0;
}

/*
  font preview item
*/
.font-preview {
  background: #e1dfdf;
  color: #423836;
  height: 10rem;
  width: 10rem;
  border-radius: 0.5rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.font-preview .sample {
  font-size: 5rem;
  text-align: right;
}

/*
  individual fonts
*/
.font-heebo {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  line-height: 1;
}

.font-playfair-display {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  line-height: 1.15;
}

/*
  font detail list
*/
.font-detail-list {
  border-top: 1px dotted #cac7c7;
  display: grid;
  margin: 2rem 0;
  max-width: 40rem;
}

.font-detail-row {
  align-items: center;
  border-bottom: 1px dotted #cac7c7;
  display: grid;
  gap: 1rem;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  padding: 1rem 0;
}

/*# sourceMappingURL=index.css.map */
